<h1> <%= @post.user.name %>'s Post <%= @post.id %> </h1>
<div class="user-post">
<div class="newpost">
<p>Post <%= @post.id  %> by <%= @post.user.name %></p>
<p><%= @post.title  %></p>
<p><%= @post.text  %></p>
</div>
<p><span>Comments <%= @post.comments_counter  %></span>, <span>Likes <%= @post.likes_counter  %></span></p>
</div>
<div>
<% @post.comments.each do |comment| %>
<p><%= comment.user.name  %> : <%= comment.text  %>
<% if can? :destroy, comment %>
<%= form_with url: user_post_comment_destroy_path, method: :delete do |form| %>
  <%= form.submit 'Delete comment' %>
<% end %>
<% end %>
<% end %>
</p>
</div>
<div>
<%= link_to new_user_post_comment_path(@post.user, @post) do %>
    <button>Add Comment</button>
  <% end %>
  <%= form_with url: "/users/#{@post.user_id}/posts/#{@post.id}/likes", scope: :like do |f| %>
  <%= f.submit " Add Like" %>
  <% end %>
<%= link_to users_path do %>
    <button>Back to Users</button>
    <% end %>
</div>